body{
    font-family: Arial, sans-serif;
    margin:0;
    display:flex;
}

.main{
    width:100%;
}


.header{
    background:#510724;
    color:white;
    padding:15px 25px;
}

.header-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.cart-btn{
    background:rgb(185, 138, 172);
    color:#4e0723;
    border:none;
    padding:10px 18px;
    border-radius:25px;
    font-weight:bold;
    cursor:pointer;
}

.cart-btn:hover{
    background:#ffe6f2;
}


.navbar{
    background:white;
    border-bottom:2px solid #ffd6e7;
}

.navbar ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
}

.nav-item{
    position:relative;
}

.navbar button{
    background:white;
    border:none;
    padding:15px 25px;
    font-weight:bold;
    cursor:pointer;
}

.navbar button:hover{
    background:#ffe6f2;
}


.dropdown-content{
    display:none;
    position:absolute;
    background:white;
    min-width:180px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    z-index:100;
}

.dropdown-content a{
    display:block;
    padding:12px;
    text-decoration:none;
    color:#333;
}

.dropdown-content a:hover{
    background:#ffe6f2;
}

.dropdown:hover .dropdown-content{
    display:block;
}


.products{
    padding:20px;
    background:#fafafa;
    min-height:100vh;

    display:grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content:center;
    gap:40px;
}


.product-card{
    width:200px;
    height:320px;
    border:1px solid #eee;
    padding:15px;
    border-radius:12px;
    background:white;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.product-card img{
    width:100%;
    height:150px;
    object-fit:cover;
    border-radius:10px;
}

.product-card button{
    background:#700735;
    color:white;
    border:none;
    padding:8px;
    border-radius:6px;
    cursor:pointer;
}


.cart{
    width:320px;
    background:#fff0f6;
    padding:20px;
    border-left:2px solid #ffd6e7;
    height:100vh;
    position:fixed;
    right:0;
    top:0;
    transform:translateX(100%);
    transition:0.3s;
}

.cart.show{
    transform:translateX(0);
}

.cart-item{
    display:flex;
    gap:10px;
    align-items:center;
    margin-bottom:15px;
}

.cart-item img{
    width:50px;
    height:50px;
    border-radius:8px;
}

.total{
    border-top:2px solid #620425;
    margin-top:20px;
    padding-top:15px;
    font-size:18px;
    font-weight:bold;
}

.cart-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.close-cart{
    background:none;
    border:none;
    font-size:20px;
    cursor:pointer;
    color:#ff4d94;
}


.order-btn{
    width:100%;
    margin-top:20px;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#ff4d94;
    color:white;
    font-weight:bold;
    cursor:pointer;
}